
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:cadetblue">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font: italic bold 12px/30px Georgia, serif;color:black;font-size:100%;text-align:center">Voter Registration form Demo:Add and remove the voters Registration fields</a>
    </div>
    
  </div>
</nav>

<h2 style="text-align:center;margin-top:5%">Please fill the registration form</h2>
<form (ngSubmit)="processForm()" [formGroup]="form" style="margin-right:10%;margin-left:10%;margin-top:2%">


  <!--div class="form-group">

<label for="name">Name</label>
<input type="text" class="form-control" name="name" required formControlName="name" > 
</div>


<div class="form-group">

<label for="name">User name</label>
<input type="text" class="form-control" name="username" required formControlName="username" >
</div-->


<div class="form-group" formArrayName="addressess">
<div *ngFor="let address of form.controls.addressess['controls'];let i=index;">

  <div class="panel panel-primary">
      <div class="panel-heading" >

        VOTER #{{i+1}}

<span (click)="removeAddress()"  *ngIf="form.controls.addressess.length > 1" style="float:right">
  Remove
</span>
   </div>

<div class="panel-body" [formGroupName]="i">

<div class="form-group">
<label>Name </label>
<input type="text" class="form-control" formControlName="name" required>
</div>

<div class="form-group">
<label>Age </label>
<input type="text" class="form-control" formControlName="age" required>
</div>


<div class="form-group">
<label>City </label>
<input type="text" class="form-control" formControlName="city" required>
</div>



<div class="form-group">
<label>State</label>
<input type="text" class="form-control" formControlName="country" required>
</div>

</div>


  </div>
        


  </div>


</div>



<div>
<a (click)="addAddress()" class="btn btn-info">ADD</a>
</div>
<br>
<div class="form-group" style="text-align:center">

<button type="submit" class="btn btn-primary">submit</button>
</div>


</form>
<hr>

<table class="table table-bordered" style="margin:10%;margin-right:10%">
    <thead>
      <tr style="background-color:cornflowerblue">
       <th>Name</th>
       <th>Age</th>
       <th>city</th>
        <th>State</th>
       
      </tr>
    </thead>
    <tbody *ngFor="let x of form.value.addressess">
      <tr>
    <b>   <td style="font: italic bold 12px/30px Georgia;">{{x.name | json}}</td></b>
        <td style="font: italic bold 12px/30px Georgia">{{x.age | json}}</td>
        <td style="font: italic bold 12px/30px Georgia">{{x.city | json}}</td>
        <td style="font: italic bold 12px/30px Georgia">{{x.country | json}}</td>
      </tr>
    </tbody>
  </table>